django==5.2.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
PyJWT==2.10.1
drf-yasg==1.21.10
requests==2.32.3
Pillow==10.4.0
django-ratelimit==4.1.0
django-axes==8.0.0