django==5.2.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
PyJWT[crypto]==2.10.1
drf-yasg==1.21.7
requests==2.32.3
Pillow==12.0.0
django-ratelimit==4.1.0
django-axes==8.0.0
dj-database-url==2.2.0
django-redis==5.4.0
gunicorn==22.0.0
whitenoise==6.7.0
psycopg[binary]==3.2.3
celery==5.4.0
redis==5.0.7
firebase-admin==6.4.0